body{
    margin: auto;
}

.container{
    background-color: aqua;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    
}

main{
    margin-left: 5px;
    background-color: #fff;
    
}

.logo{
   width: 20%;
   height: 20%;
   margin-top: 50px;
}

.didascalie{
    font-size: 12px;
}

.foto-tim{
    margin: 0;
}

.articolo{
    margin-right: 20%;
}

.elenco{
    margin-left: -20px;
}

thead{
    background-color: lightskyblue;
    
}

.trazzurro{
    background-color: lightblue;
}

.in-evidenza-1{
    background-color: yellow;
}

.articolo2{
    margin-top: 25px;
}

.adv{
    color: grey;
    margin-top: 40px;
}